@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-playfair);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e7e5e4;
    border-radius: 20px;
  }
}

body {
  background: #fafaf9;
  color: #1c1917;
}
